body {
    margin: 0;
    padding: 0;
    background-image: url("arkaplan.jpg");
   
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #34495e !important;
    z-index: 999;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #1e58c4;
  }
  
  .navbar__logo a {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar__list {
    display: flex;
    list-style: none;
  }
  
  .navbar__item {
    margin-right: 20px;
  }
  
  .navbar__item:last-child {
    margin-right: 0;
  }
  
  .navbar__item a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar__item a:hover {
    color: #3700ff;
  }
  
  